/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#gif{

    position: relative;
    top:-330px;
    left: 33px;
    height:274px;
    width: 156px;
    background-image:url('../gifs/test.gif');
}

#sig{

    position: relative;
    display: inline-block;
    font-family: arial;
    font-size: 10px;
    float:right;
    z-index: 1000;
    color:white;
    margin-top: 25px;
    margin-right: 5px;
    text-decoration: none;
}

#sig:visited{
    text-decoration: none;    
}

#header{

    margin-top: 0px;
    margin-left:0px;
    width: 100%;
    /*background-color: #C2080B;*/
    height:210px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.27);
    position:absolute;
    background-image: url('../img/header.png');
}

#bright{

    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    background: url('../img/bright-squares.png');
    opacity:0.8;
    display: block;
    
}


#brightBack{

    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: url('../img/bright-squares.png');
    opacity:.4;
    display: block;
    background-blend-mode: multiply;

}

#headerText{

    position: relative;
    display: block;
    text-align: center;
    top:30px;
    z-index: 2;
    font-family: futura-condensedMedium;
    color:white;
    font-size: 50px;
    text-shadow: #222222 0px 2px 2px;
    opacity: 1;
}

#header2{

    float:left;
    top: 120px;
    left:0px;
    width: 100%;
    /*background-color: #7D0406;*/
    height:40px;
    display: block;
    position:absolute;
    background-image: 
}


#mainContent{


    position: absolute;
    top:210px;
    width: 100%;
    height:650px;
    background-image: url('../img/background.png');
}


#tagline{

    position: relative;
    top:25px;
    text-align: center;
    display: block;
    font-family: futura-condensedMedium;
    font-size: 30px;
    color:black;
    text-shadow: gray 0px 2px 2px;
}



@media (max-width:730px) {
    .Iphone{

    position: fixed;
    z-index: 3;
    top: 120px;
    display: inline-block;
    left: 15%;
    height: 420px;
    width: 220px;
   
    
    }

    #iphonePic{

    width: 100%; 
    height:auto;
    margin-top: 20px;

    }

}
@media (min-width:731px) {

    .Iphone{

    position: fixed;
    z-index: 3;
    top: 10px;
    display: inline-block;
    margin-left: 50px;
    height: 420px;
    width: 220px;
   
    
    }

    #iphonePic{

    width: 100%; 
    height:auto;
    margin-top: 20px;

    }
}

#footer{

    position: absolute;
    top: 810px;
    left: 0px;
    /*background-color: #001F7A;*/
    width: 100%;
    height: 50px;
    background-image: url('../img/footer.png');
}


#contact{

    display: block;
    position: relative;
    width:50px;
    margin: 0 auto;
    text-align: center;
    top:8px;
    font-size: 25px;
    color: white;
    font-family: futura-condensedMedium;
    text-decoration: none;
    text-shadow: #222222 0.1em 0.1em 0.1em;
}
#contact:hover{

    color: #E1E1E1;
    text-decoration: none;
}
#contact:visited:link:active{
    text-decoration: none; 

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */


@font-face{

    font-family: futura-condensedMedium;
    src: url('fonts/futura_condensed_medium.ttf');
}   

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
