body
{
	background: #e4f3ed;
	margin: 0px auto;
	
	font-family: "Futura-CondensedMedium", sans-serif;
	font-weight: Condensed;
	font-style: Medium;
	
	font-size: 62.5%;
	color: #777e8c;
}

div
{
	font-weight: normal;
}

img
{
	border: none;
}

.clear
{
	clear: both;
	height: 0;
	line-height: 0;
}





/* TEXT */

a
{
	font-size: 2em;
	font-weight: normal;
	
	color: #ffffff;
	text-decoration: none;
}

	a:hover
	{
		cursor: pointer;
		color: #777e8c;
	}
	
	a:visited
	{
		text-decoration: none;
		border: none;
	}
	
	.title
	{
		font-size: 1em;
		color: #777e8c;
	}
	
	.textlink
	{
		font-size: 1em;
		color: #ff6680;
	}
	
.blue
{
	color: #66ccff;
}

.red
{
	color: #ff6680;
}

ul
{
	font-size: 2em;
}




/* HEADINGS */

h1, h2, h3
{
	padding: 0;
	margin: 0;
	
	font-size: 3em;
	font-weight: normal;
	line-height: 1em;
	letter-spacing: 0;
}

h1
{
	font-size: 6em;
	line-height: .6em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

h2
{
	font-family: BuloRounded-BlackItalic;
	font-size: 3em;
	line-height: 1.2em;
}

h3
{
	font-size: 6em;
	line-height: 1em;
	letter-spacing: .1em;
	
	color: #BBD9D9;
}

	.press
	{
		text-align: left;
	}



/* CONTAINERS */

#wrapper
{
	position: relative;
	width: 640px;
	
	margin: 0px auto;
	text-align: center;
}

	.content, #spacer, .contentgraph
	{
		position: relative;
		
		margin: 0px auto;
		text-align: center;
	} 
	
	#top
	{
		//z-index: 200;
	}

	.contentgraph
	{
		width: 600px;
		margin-top: 100px;
		
		text-align: left;
	}
	
	p
	{
		font-size: 2em;
	}
		.small
		{
			font-size: .6em;
			font-family: BuloRounded-BlackItalic;
			margin: 10px;
		}
		
	.screenshot
	{
		float: left;
		clear: none;
		
		width: 260px;
		padding: 0px;
		margin: 10px;
		
		border: 1px solid #777e8c;
	}
	
		.screenshot:hover
		{
			cursor: pointer;
		}
		
#logotype
{
	position: relative;
	
	width: 100%;
	
	margin: 100px auto 0 auto;
	text-align: center;
}

#tagline
{
	position: relative;
	
	margin: 20px auto 0 auto;
	
	width: 640px;
	text-align: center;
	
	/*background: transparent url('images/phone_slim2.png') no-repeat center 15px;*/
}

	#tagrule
	{
		position: relative;
		clear: both;
		width: 100%;
		
		overflow: visible;
		
		background: transparent url('images/line_end.svg') repeat-x center 15px;
	}

#instructions
{
	position: relative;
	//background: transparent url('small.gif') no-repeat center top;
	width: 640px;
	height: 480px;
	
	/*
	width: 420px;
	height: 560px;
	*/

	margin: 60px auto;
	text-align: center;
	
}

#heartbreak
{
	position: relative;
	
	margin: 60px auto 0 auto;
	height: 120px;
	
	
	font-size: 3em;
	font-family: BuloRounded-BlackItalic;
	line-height: 1em;
	text-align: center;
	height: 160px;
	padding-top: 30px;
	
	color: #777e8c;
	
	background: transparent url('images/wreath3.svg') no-repeat center top;
}

#phone
{
	position: -webkit-sticky;
 	position: -moz-sticky;
 	position: -ms-sticky;
  	position: -o-sticky;
  	position: sticky;
  	
	top: 100px;
	/*
	left: 50%;
	margin: -390px 0 0 -220px;
	*/
	width: 400px;
	height: 780px;
	
	margin: 100px auto;
	
	/*
	overflow: visible;
	-webkit-overflow-scrolling: none;
	*/
	background:  url('images/phone_slim2.png') no-repeat;
	
	/-webkit-animation: phoneanimation .5s steps(2) infinite;
	/-webkit-animation-play-state: running;
	
	z-index: -1;
}

	#phone:hover
	{
		background:  url('images/phone_slim2.png') no-repeat;
		
	}
	
	@-webkit-keyframes phoneanimation
	{
		from	{background-position: 200px 0px}
		to		{background-position: 1200px 0px}
	}

#quotewrap
{
	position: relative;
	margin: 0 auto;
	
	max-width: 960px;
}
	
#quotebox
{
	position: absolute;
	top: 1400px;
	
	width: 98%;
	padding: 1%;
	
	max-width: 960px;
	
	margin: 0 auto;
}	
	
		.quote
		{
			position: relative;
			float: right;
			text-align: left;
			clear: both;
			
			width: 135px;
			
			width: 20%;
			max-width: 300px;
			
			margin-top: 150px;
			padding: 20px;
			
			font-family: BuloRounded-BlackItalic;
			font-size: 3em;
			line-height: 1em;
			font-weight: normal;
			
			z-index: 300;
			
			background: #FAFAFA;
			-moz-border-radius: 15px;
			border-radius: 15px;
		}
		
			.quotecite
			{
				font-size: 0.5em;
				line-height: 1em;
				margin-top: 5px;
				color: #BBD9D9;
			}

#accolades
{
	position: relative;
	margin: 100px 0;
}

#pocket
{
	position: relative;
	
	height: 340px;	//minus 200
	width: 340px;	//minus 200
	
	margin: 0 auto;
	padding: 0px;
/*	padding was 100*/


	background: #FAFAFA url('images/pocket_slim.svg') no-repeat center top;
	
	z-index: 1;
}

#buttonappstore, #buttongoogleplay
{
	clear: both;
	position: relative;
	
	height: 50px;
	width: 170px;
	
	margin: 40px auto 0 auto;
	
	background: transparent url('images/appstore.png') top left repeat-y;
	background-size: contain;
	z-index: 10;
}

	#buttongoogleplay
	{
		margin-top: 0px;
		background: transparent url('images/btn_googleplay.svg') top left repeat-y;
	}

	#buttonappstore:hover, #buttongoogleplay:hover
	{
		cursor: pointer;
		background: transparent url('images/appstore.png') 0px -90px repeat-y;
	}
		
		#buttongoogleplay:hover
		{
			background: transparent url('images/btn_googleplay.svg') 0px -90px repeat-y;
		}
		
	#buttonappstore:active, #buttongoogleplay:active
	{
		cursor: pointer;
		background: transparent url('images/appstore.png') 0px -180px repeat-y;
	}
		
		#buttongoogleplay:active
		{
			background: transparent url('images/btn_googleplay.svg') 0px -180px repeat-y;
		}

#footer, #footerspace
{
	position: relative;
	width: 100%;
	
	height: 50px;
	
	margin: 0 0 0 0;
	padding: 16px 0 0 0;
	
	font-weight: normal;
	
	background-color: #BBD9D9;
}

	#footerspace
	{
		background-color: #FAFAFA;
		
		height: 10px;
		
		z-index: 300;
	}